Stealth_Design_Tool/Library/
Stealth_Design_Tool/Temp/

Library/
Temp/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Stealth_Design_Tool/ExportedObj/
Stealth_Design_Tool/obj/
*.svd
*.userprefs
Stealth_Design_Tool/*.csproj
*.csproj
*.pidb
*.suo
Stealth_Design_Tool/*.sln
*.user
*.unityproj
*.booproj
*.sln
*.csproj

# ============ #
# OS generated #
# ============ #
Stealth_Design_Tool/.DS_Store
Stealth_Design_Tool/.DS_Store?
._*
Stealth_Design_Tool/.Spotlight-V100
Stealth_Design_Tool/.Trashes
Stealth_Design_Tool/ehthumbs.db
Stealth_Design_Tool/Thumbs.db
